*{
    font-family: Georgia;
    font-size: 24px;
    margin: 0;
    padding: 0;
}


#calculator{
    
    width: 220px;
    margin: 0 auto;
    margin-top: 50px;
    background: #461D7C;
    color: #FDD023;
}

#row-1, #row-2, #row-3, #row-4{
    display: flex;
    padding: 4px;
}

ul{
    
    list-style: none;
    text-align: center;
}

li {
    width: 50px;
    height: 50px;
    line-height: 48px;
    border: 1px solid #FDD023;
    margin: 2px;
    
}

#all-displays{
    text-align: right;
    padding: ;
    width: 210px;
    height: 50px;
}


